<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEDC5zOonuW-5c2YjXD7VTTuMDHysbENo</string>
	<key>GCM_SENDER_ID</key>
	<string>831694727438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todotask</string>
	<key>PROJECT_ID</key>
	<string>tasks-app-ab70a</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-app-ab70a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831694727438:ios:29fc54f2235658f6288f5f</string>
</dict>
</plist>